.profile-page {
    background-color: #f0f0f2;
    min-height: 100vh;
}

.left-column-profile-page {
    background-color: white;
    max-height: 100vh;
    border: 1px solid #f0f0f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-column-profile-page {
    background-color: white;
    min-height: 40vh;
    max-height: 100vh;
    width: 100%;
    border: 1px solid #f0f0f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;

}

.link-profile {
    text-decoration: none;
    border: 0;
    &:hover {
        border-right: 3px solid #fd4742;
    }
}

.list-group-item.active {
    background-color: #f0f0f2;
    color: #161832 ;
    border: 0;
    border-right: 3px solid #fd4742;

}

.form-group-profile-page {
    width: 100%;
}

.form-label-profile-page {
    min-width: 30%;
}

.form-control-profile-page {

    max-width: 40%;
}

@media screen and (max-width: 768px) {
    .form-control-profile-page {
        min-width: 100%;
        max-width: 100%;
    }
    
}

.input-group-profile-page {
    max-width: 40%;
}

@media screen and (max-width: 768px) {
    .input-group-profile-page {
        min-width: 100%;
        max-width: 100%;
    }
    
}

.btn-create {
    &:hover {
     background-color: #fd4742;
     }
   }
   


   @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake-enter {
    animation: shake 0.5s ease;
}
.shake-enter-active {
    animation: shake 0.5s ease;
}
.shake-exit {
    animation: none;
}
.shake-exit-active {
    animation: none;
}




.profile-page {
    .dropdown-item.active {
        background-color: white;
        color: #161832;
        &:hover {
            background-color: #f0f0f2;
        }
    }
}