.left-column {
    background-image: url('../../assets/Esecutivi/Base colonna.png');
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }
  
  .right-column {
    background-color: #f0f0f2;
  max-height: 100vh;
    overflow-y: auto;
  }
  
  .logo {
    max-width: 150px;
  }
  
  .icon-success {
    font-size: 1rem;
    right: 10px;
    top: 60%;
  }
  
  .error-message {
    color: #dc3545; 
    font-size: 0.875rem; 
    max-width: 100%; 
    position: absolute; 
    bottom: -1.5rem; 
  }
  
  

  .footer-wrapper footer {
    display: none;
   }


  
  @media (max-width: 767.98px) {
    .page-title {
      margin-top: 2rem;
    }
  
    .left-column {
      display: none; 
    }
  
    .right-column {
      padding: 1rem; 
    }
  
    .form-group {
      margin-bottom: 1rem; 
    }
  
    .form-control {
      font-size: 0.875rem; 
      padding: 0.5rem 0.75rem; 
    }
  
    .btn {
      font-size: 0.875rem;
      padding: 0.5rem 1rem; 
    }

    .register-container {
      margin-bottom: 6rem;  }


      .footer-wrapper footer {
        display: block;
       }
  }

  .shake-enter {
    animation: shake 0.3s forwards;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .overlay-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161834;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fd4742;
    margin: 0 5px;
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .ball1 {
    animation-delay: -0.3s;
  }
  
  .ball2 {
    animation-delay: -0.15s;
  }
  
  .ball3 {
    animation-delay: 0s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  
  .overlay-message {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fd4742;
    font-weight: 500;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: #f0f0f2;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 9999999; 
  }
  
  .loading-logo {
    width: 300px; 
    height: auto;
    animation: pulse 1.5s infinite; 
  }
  

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  
  




  