.create-team-page {
    background-color: #f0f0f2;
    height: 100vh;
}

.create-team-container {
    flex: 1;
    max-height: calc(100vh - 62px);
    overflow: auto;
}

.create-team-container > .row {
    max-height: 100%;
}

.col-fixed-height {
    max-height: 100%;
}

.card-team-create {
    max-width: 780px;
    height: 500px;
    overflow: auto;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    .card-team-create {
        height: 100%;
    }
    
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 28px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #fd4742;
    box-shadow: 0 0 0 2px #fd4742;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #fd4742;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fd4742;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #161832;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #161832;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #fd4742;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  

