.create-team-page {
    background-color: #f0f0f2;
    min-height: 100vh;
}

.card-team-create {
    min-height: 300px;
    max-width: 780px;
    border-radius: 8px;
    border-top: 5px solid #fd4742;
}

.card-team-create {
    display: flex;

}

