// src/style/custom.scss

// Import Bootstrap functions and variables
@import "../../node_modules/bootstrap/scss/functions";

// Override Bootstrap variables
$primary: #fd4742; // Nuovo colore primario
$secondary: #161834;
$light: #f0f0f2;
$btn-border-radius: 0;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.5rem;

@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


