.swiper {
    width: 100%;
    padding-block: 40px;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    height: auto; 
    padding: 20px; 
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-image {
    width: 120px;
    height: 120px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
  }
  
  .swiper-slide h6 {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .swiper-slide span {
    font-style: italic;
  }
  
  .swiper-pagination-bullet {
    background: #fd484282; 
  }
  
  .swiper-pagination-bullet-active {
    background: #fd4742; 
  }
  
  @media (max-width: 767px) {
    .swiper-slide {
      max-width: 90%; 
    }
  
    .testimonial-image {
      width: 100px;
      height: 100px; 
    }
  }


  .testimonial-section {
   background-color: #f0f0f2;
   color: #333333;
  }

  .team-logos-carousel {
    .swiper {
      width: 100%;
      padding: 20px 0; 
    }
  
    .swiper-slide {
      display: flex;
      justify-content: center; 
      align-items: center;
      height: 100px;
    }
  
    .swiper-slide img {
      width: auto;
      height: 80px; 
      object-fit: contain;
    }
  }
  
  