
.no-caret .dropdown-toggle::after {
    display: none;
  }
  

.homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f2;
  }
  
  .main-content {
    height: 90vh;
  }
  
.card-create {
    width: 100%;
    max-width: 22rem;  
    aspect-ratio: 1;  
    margin: 0 auto;    
  
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
  
      .btn-create {
        background-color: #fd4742;
      }
    }
  }
  
.navbar .dropdown-menu {
    width: 100%;
    border-radius: 0%;
}
  
  .navbar .dropdown-menu.show {
    border-radius: 0%;
    width: 100%;
  }

  
  .team-card {
    min-height: 280px; /* Altezza minima per mantenere uniformità */
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spaziatura uniforme */
  }
  
  .team-avatar {
    position: absolute;
    top: -30px;
    left: 10%;
    z-index: 999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    min-width: 150px;
  }
  


  